.navbar-brand img {
    height: 40px;
}

.navbar .bi-globe {
    color: white;
}

.nav-link {
    color: white;
}

.nav-item .btn-light {
    border-radius: 50px;
}

button img {
    height: 30px;
}

.profile button:hover {
    box-shadow: 3px 3px 3px -1px rgba(255,255,255,0.8);
}

/*.hero {
    background-image: url("assets/home.jpg");
    background-repeat: no-repeat;
    background-size: 200vh;
    height: 80vh;
}*/

h1 {
    font-size: 100px;
    color: white;
    margin-top: 150px;    
    padding-left: 50px;
}

.container-fluid button {
    margin-left: 50px;
    margin-bottom: 200px;
}

.hero img {
    height: 75vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

#navbarSupportedContent {
    margin-left: 20vw;
}

/*----------- SEARCH BAR */
#searchBar{
    background-color: black;
    max-width: 90rem;
}

#searchBar > .row{
        border-radius: 50px;
        padding-block: 0.5rem;
        width: 50rem;
        background-color: white;
}

#searchBar > .row > div:nth-child(5) > button{
        width: 45px;
        border-radius: 50px;
        height: 45px;
        color: white;
        background-color: rgb(255, 56, 91);
    
}

/* tolgo spazio tra icone data */

#searchBar > .row > div> input{
    width: 95%;
}

/* #search {
    background-color: white;
    border-radius: 50px;
}

#search p {
    font-weight: bold;
    margin-bottom: 0;
}

#search button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #FF385C;
    color: white;
} */

#places img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

#places .col-lg-3 p:first-of-type {
    font-weight: bold;
}

#places img:hover {
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.8);
    cursor: pointer;
}

.container-fluid button:hover {
    box-shadow: 3px 3px 3px -1px rgba(255,255,255,0.8);
}

footer p:first-of-type {
    font-weight: bold;
}

footer {
    background-color: rgb(235, 235, 235);
}


/* ---------------MEDIA QUERY */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #searchBar > .row{
        border-radius: 50px;
        padding-block: 0.5rem;
        width: 20rem;
        background-color: white;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */