.navbar-brand img {
    height: 40px;
}

.navbar .bi-globe {
    color: white;
}

.nav-link {
    color: white;
}

.nav-item .btn-light {
    border-radius: 50px;
}

button img {
    height: 30px;
}

.profile button:hover {
    box-shadow: 3px 3px 3px -1px rgba(255,255,255,0.8);
}

/*.hero {
    background-image: url("assets/home.jpg");
    background-repeat: no-repeat;
    background-size: 200vh;
    height: 80vh;
}*/

h1 {
    font-size: 100px;
    color: white;
    margin-top: 150px;    
    padding-left: 50px;
}

.container-fluid button {
    margin-left: 50px;
    margin-bottom: 250px;
}

.hero img {
   
    width: 100%;
    height: 700px;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

#navbarSupportedContent {
    margin-left: 20vw;
}

#search {
    background-color: white;
    border-radius: 50px;
}

#search p {
    font-weight: bold;
    margin-bottom: 0;
}

#search button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #FF385C;
    color: white;
}

#places img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

#places .col-lg-3 p:first-of-type {
    font-weight: bold;
}

#places img:hover {
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.8);
    cursor: pointer;
}

.container-fluid button:hover {
    box-shadow: 3px 3px 3px -1px rgba(255,255,255,0.8);
}

footer p:first-of-type {
    font-weight: bold;
}

footer {
    background-color: rgb(235, 235, 235);
}