.navbar-brand img {
    height: 40px;
}

.bi-globe {
    color: white;
}

.nav-link {
    color: white;
}

.nav-item .btn-light {
    border-radius: 50px;
}

button img {
    height: 30px;
}

/*.hero {
    background-image: url("assets/home.jpg");
    background-repeat: no-repeat;
    background-size: 200vh;
    height: 80vh;
}*/

h1 {
    font-size: 100px;
    color: white;
    margin-top: 150px;    
    padding-left: 50px;
}

.col-3 button {
    margin-left: 50px;
    object-fit: contain;
    width: 12vw;
}

.hero img {
    height: 90vh;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#navbarSupportedContent {
    margin-left: 20vw;
}

#search {
    background-color: white;
    border-radius: 50px;
}

#search p {
    font-weight: bold;
}

#search button {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #FF385C;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  .sidebar {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar.position-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }