
.myButton {
    color: rgb(12, 12, 12);
    font-size: 16px;
    line-height: 16px;
    padding: 4px;
    border-radius: 40px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(rgb(212, 214, 216) 0%, rgb(250, 251, 253) 50%, rgb(249, 250, 251) 100%);
    box-shadow: rgb(252, 251, 251) 5px 5px 15px 5px;
    border: 1px solid rgb(172, 173, 174);
    display: inline-block;
    margin-top: 2rem;
}

.myButton:hover {
    background: #f3f4f5;
}

.myButton:active {
    background: #f9fafb;
}


.card{
    border: transparent;
    
    
}

.imgcard{
    border-radius: 10%;
    transform: scale(1);
    transition: all .2s linear;
    
}

.imgcard:hover{
    transform: scale(1.1);
        border: 10px solid transparent
        
    }


.pallino{
    background-color: rgb(235, 40, 79);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 1rem;
    margin-left: 1rem;

}

.btn-toolset {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.2;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 14px 0px;
    border: 1px solid #6f6c6c;
    
}

