/* NAVBAR */

.navbar-brand img {
    height: 40px;
}

.nav-item .btn-light {
    border-radius: 50px;
}

button img {
    height: 30px;
}

.profile button:hover {
    box-shadow: 3px 3px 3px -1px rgba(255, 255, 255, 0.8);
}

/*------ HERO */

/* title and icon */

.bi.bi-plus-circle-fill::before{
    font-size: 1.8rem;
    color: #FF385B;
}

.btn-hero{
    border-radius: 23px;
    font-weight: 300;
    font-size: 12px;


}

.hero p, .cards p{
    margin-block: 0;
    font-weight: 300;
    font-size: 14px;
}

.hero a{
    text-decoration: none;
    color: black;
}
/* CARD */

.card-body>.card-text>.row>div>i {
    color: #FF385B;
}

.card>.card-body>.card-text>.row>div:nth-child(2) {
    flex: 0 0 1.1rem;

}



.card-text>.row {
    font-size: 15px;
}

.card-text>div:nth-child(2)>div {
    font-size: 16px;
}

.card {
    border-radius: 10%;
    transform: scale(1);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 24px 1px rgba(137, 137, 137, 0.85);
    transition: all .2s ease-in-out;


}
.imgcard{
    border-radius: 5% ;
}

.cards a{
    text-decoration: none;
}










/* FOOTER */

footer p:first-of-type {
    font-weight: bold;
}

footer {
    background-color: rgb(235, 235, 235);
}

footer p, span {
    cursor: pointer;
}

footer p:hover, span:hover {
    text-decoration: underline;
}


/* ----------MEDIA QUERY */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero > .row{
        padding-inline: 0 ;

    }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .hero > .row{
        padding-inline: 6rem ;

    }
}